@use "sass:string";
@use "./utils/variables" as *;
@use "./utils/mixins" as *;
@use "./base/reset" as *;
@use "./base/common" as *;
@use "./components/containers" as *;
@use "./components/burger" as *;
@use "./components/modal" as *;
@use "./components/preloader" as *;
@use "./layout/01-header" as *;
@use "./layout/02-hero" as *;
@use "./layout/03-task" as *;
@use "./layout/04-projects" as *;
@use "./layout/05-reviews" as *;
@use "./layout/07-footer" as *;