.header {
    z-index: 1;
    position: absolute;
    top: 20px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: #000;
        padding: 20px 0;

        &--active {
            display: block;
        }
    }

    &__link {
        display: none;
        background: #e40000;
        color: #fff;
        border-radius: 20px;
        text-decoration: none;
    }
}

.nav {
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        list-style: none;
        padding: 0 30px;
    }

    &__link {
        color: #fff;
        text-decoration: none;
        font-size: 16px;

        &:hover {
            color: #e40000;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__burger {
            display: none;
        }

        &__nav {
            display: block;
            position: static;
            width: auto;
            background: none;
            padding: 0;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 130px;
            height: 40px;
            font-family: var(--font-family);
            font-weight: 900;
            font-size: 19px;
            color: #fff;
            border-radius: 27px;
            background-color: var(--background-color-1);
        }
    }

    .nav__list {
        flex-direction: row;
    }
}
