.icon-burger {
    position: absolute;
        left: 5%;
        top: 5%;
    fill: var(--background-color-1);
    width: 33px;
    height: 30px;
}
.header__burger {
        position: absolute;
        left: 5%;
        top: 5%;
        width: 33px;
        height: 30px;
        background: transparent;
        border: none;

    }