.container {
    width: 100%;
    min-width: 320px;
    max-width: 1600px;
    // padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 370px) {
        width: 370px;
        outline: 3px red dotted;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        outline: 3px blue dotted;
    }

    @media screen and (min-width:1437px) {
        width: 1437px;
        outline: 3px green dotted;
    }
}
