body {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--background-color-2);
}