@use "sass:string";

// ---------- COLORS ----------
$background: (
    color-1: #d80808,
    color-2: #020202,
    color-3: rgba(255, 255, 255, 0),
    gradient: linear-gradient(180deg, #e30707 0%, #6a1212 73.1%),
);

$color: (
    color-1: #f3d5d5,
    color-2: #ffffff,
    color-3: #000000,
    color-4: #f4bdbd,
    color-5: #e4cfcf,
    color-6: #ff0000,
    color-7: #bb9292,
    color-8: #eeeeee,
);

// ---------- FONTS ----------
$font: (
    family: "Roboto",
    family-2: "Syncopate",
    family-3: "Sen",
    family-4: "Trebuchet MS",
);

// ---------- MAIN MAP ----------
$var-maps: (
    "background": $background,
    "color": $color,
    "font": $font,
);

// ---------- FUNCTION ----------
@function get-var($variable-name) {
    $parts: string.split($variable-name, '__');
    $prefix: nth($parts, 1);
    $key: nth($parts, 2);

    @if not map-has-key($var-maps, $prefix) {
        @error "Невідомий префікс '#{$prefix}' для змінної '#{$variable-name}'. Допустимі префікси: #{map-keys($var-maps)}.";
    }

    $target-map: map-get($var-maps, $prefix);

    @if not map-has-key($target-map, $key) {
        @error "Ключ '#{$key}' не знайдено в мапі '#{$prefix}'.";
    }

    @return map-get($target-map, $key);
}

// ---------- CSS ROOT VARIABLES ----------
:root {
    /* Backgrounds */
    --background-color-1: #d80808;
    --background-color-2: #020202;
    --background-color-3: rgba(255, 255, 255, 0);
    --background-gradient: linear-gradient(180deg, #e30707 0%, #6a1212 73.1%);

    /* Colors */
    --color-1: #f3d5d5;
    --color-2: #ffffff;
    --color-3: #000000;
    --color-4: #f4bdbd;
    --color-5: #e4cfcf;
    --color-6: #ff0000;
    --color-7: #bb9292;
    --color-8: #eeeeee;

    /* Fonts */
    --font-family: "Roboto", sans-serif;
    --font-family-2 : "Syncopate", sans-serif;
    --font-family-3: "Sen", sans-serif;
    --font-family-4: "Trebuchet MS", sans-serif;
}